<section class="section">
<div class="container">
    <h1 class="main-heading">Add category</h1>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
        <div class="formgroup2">
        <label for="title">Category Title</label>
        <input name="cat-title" placeholder="category name" type="text">
        </div>
         <div class="formgroup2">
        <label for="title">Category image (URL)</label>
        <input name="cat-image" placeholder="image URL" type="text">
        </div>
    </div>
</div>
  <button id="btn-category" class="btn-add">Add</button>
       
</section>
<script src="/js/add-category.js"></script>