<section class="section">
    <div class="container">
        <div class="info-card">
            <h1>Oh sorry!</h1> 
            <h3>We think you are not logged in yet <i class="fas fa-sad-tear"></i></h3>
            <p>Thanks for coming this far! Please create a free account to proceed <i class="fas fa-smile-wink"></i></p>
        </div>
    </div>
</section>